<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizPrinter" class="ru.otus.utils.QuizPrinter"/>

    <bean id="csvQuizReader" class="ru.otus.utils.CsvQuizReader">
        <constructor-arg index="0" value="quiz.csv"/>
    </bean>

    <bean id="quizDao" class="ru.otus.dao.QuizDao">
        <constructor-arg index="0" ref="csvQuizReader"/>
    </bean>

    <bean id="quizService" class="ru.otus.service.QuizService">
        <constructor-arg index="0" ref="quizDao"/>
        <constructor-arg index="1" ref="quizPrinter"/>
    </bean>

</beans>