<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util.xsd">

    <util:constant id="sout"
                   static-field="java.lang.System.out"/>

    <bean id="printService" class="ru.otus.service.StreamPrintService">
        <constructor-arg index="0" ref="sout"/>
    </bean>

    <bean id="quizPrinter" class="ru.otus.utils.QuizPrinter">
        <constructor-arg index="0" ref="printService"/>
    </bean>

    <bean id="csvQuizReader" class="ru.otus.utils.CsvQuizReader">
        <constructor-arg index="0" value="quiz.csv"/>
    </bean>

    <bean id="csvQuizDao" class="ru.otus.dao.CsvQuizDao">
        <constructor-arg index="0" ref="csvQuizReader"/>
    </bean>

    <bean id="quizService" class="ru.otus.service.QuizService">
        <constructor-arg index="0" ref="csvQuizDao"/>
        <constructor-arg index="1" ref="quizPrinter"/>
        <constructor-arg index="2" ref="printService"/>
    </bean>

</beans>